:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.example-block {
  padding: 1rem 2rem;
}

.cursor {
  background-color: #00ffff;
  display: inline-block;
  width: 10px;

  height: 1.4em;
  vertical-align: middle;

  height: 1em;
}

.cursor.idle {
  animation: idleCursorAnimation 2s infinite;
}

@keyframes idleCursorAnimation {
  0% {
    background-color: #22c55e;
  }
  50% {
    background-color: #f43f5e;
  }
  100% {
    background-color: #22c55e;
  }
}
